.question {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    row-gap: 8px;
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
}

.question-metrics {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    padding-right: 16px;
    border-right: 1px solid #ccc;
}

.question-metrics .metric {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-metrics .metric .metric-value {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.question-metrics .metric .metric-label {
    font-size: 12px;
    color: #888;
}

.question-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.question .question-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 8px;
}

.question .question-info .question-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.question .question-info .question-tags p {
    font-size: 14px;
    font-weight: 500;
    color: #191825;
    background-color: #ddd;
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-bottom: 8px;
}

.question .question-info .question-tags p:hover {
    background-color: #ccc;
}

.question-date {
    font-size: 14px;
    font-weight: normal;
    color: #919191;
}

.question-date span {
    font-weight: 500;
    color: #707070;
}

.question .question-title {
    font-size: 18px;
    font-weight: 600;
    color: #191825;
    cursor: pointer;
}

.question .question-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    row-gap: 8px;
    width: 100%;
    margin-top: 12px;
    flex-wrap: wrap;
}

.question .question-user .update-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
}

.question .question-user .question-user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 6px;
}

.question .question-description {
    font-size: 14px;
    font-weight: normal;
    color: #191825;
}

.question-stats {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.question .question-title {
    font-size: 18px;
    font-weight: 600;
    color: #191825;
    cursor: pointer;
    margin-bottom: 8px;
}

.question .question-description {
    font-size: 14px;
    font-weight: normal;
    color: #191825;
    margin-bottom: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
}