.question-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    row-gap: 16px;
}

.question-page .question-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
    width: 100%;
    cursor: pointer;
}

.question-page .question-page-header span {
    font-size: 14px;
    color: #191825;
}

.question-page .question-page-header:hover span {
    text-decoration: underline;
}

.question-page .answers-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    row-gap: 16px;
}

.question-page .answers-container .answers-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
    width: 100%;
}

.question-page .answers-container .answers-header h2 {
    font-size: 18px;
    font-weight: 600;
    color: #191825;
}

.question-page .answers-container .answers-header p {
    font-size: 14px;
    font-weight: 500;
    color: #919191;
    margin-top: 4px;
}

.question-page .answers-container .answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    row-gap: 8px;
}

.question-page .answers-container .answer .answer-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 8px;
    width: 100%;
}

.question-page .answers-container .answer .answer-user .answer-user-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ddd;
}

.question-page .answers-container .answer .answer-user p {
    font-size: 14px;
    font-weight: 500;
    color: #191825;
}

.question-page .answers-container .answer .answer-content {
    font-size: 14px;
    font-weight: 600;
    color: #191825;
}

.question-page .answers-container .answer .answer-date {
    font-size: 12px;
    font-weight: normal;
    color: #919191;
    display: flex;
    gap: 12px;
    align-items: center;
}

.question-page .add-answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    row-gap: 8px;
}

.question-page .add-answer h2 {
    font-size: 18px;
    font-weight: 600;
    color: #191825;
}

textarea {
    width: 100%;
    min-height: 200px;
    max-height: 350px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 500;
    resize: vertical;
    transition: all 0.2s ease-in-out;
}

.question-page .add-answer textarea:is(:focus, :active) {
    border-color: #191825;
}

.question-page .answers-container .answer .accepted-answer {
    background-color: #e6ffe6;
    border-left: 4px solid #00b300;
    padding-left: 8px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    padding: 8px;
    border-radius: 2px;
}

.question-page .answers-container .answer .accepted-answer p {
    font-size: 14px;
    font-weight: 500;
    color: #00b300;
}